.pch filter=lfs diff=lfs merge=lfs -text
*.h.pch filter=lfs diff=lfs merge=lfs -text
UnrealTowerDefence2/Intermediate/Build/Win64/UnrealTowerDefence2Editor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.ShadowErrors.h.pch filter=lfs diff=lfs merge=lfs -text
UnrealTowerDefence2/Intermediate/Build/Win64/UnrealTowerDefence2Editor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch filter=lfs diff=lfs merge=lfs -text
